{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
<link href="{%static 'password/main.css' %}" rel="stylesheet" />
<div class="container text-center">
<h1>Password Generator</h1>

<form action = "password">
<h4 id ="tableformat"> <select name = "length">
     <option value = "6"> 6 </option>
     <option value = "7"> 7 </option>
     <option value = "8"> 8 </option>
     <option value = "9"> 9 </option>
     <option value = "10"> 10 </option>
     <option value = "11"> 11 </option>
     <option value = "12"> 12 </option>
     <option value = "13"> 13 </option>
     <option value = "14"> 14 </option>
     <option value = "15"> 15 </option>
     <option value = "16"> 16 </option>
 </select> Length</h4>
<br>
<h4 id ="tableformat"><input  type = "checkbox" name = 'uppercase'>Uppercase</h4> 
 <br>
 <h4 id ="tableformat"><input type = "checkbox" name = "numbers"> Numbers</h4> 
 <br>
 <h4 id ="tableformat"><input type = "checkbox" name = "special characters"> Special characters</h4> 
 <br>


 <input type = "submit" value = "Generate Password" class = "btn btn-primary">
</form>
</div>


{% endblock %}