{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
<link href="{%static 'blog/main.css' %}" rel="stylesheet" />
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">{{ blog.date | date:"F d, Y" }}</small>
      </div>
      <h3><a class="article-title" href="#">{{ blog.title }}</a></h3>
      <p class="article-content">{{ blog.description }}</p>
    </div>
  </article>
  {% endblock content%}