{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
 <!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link href="{%static 'stock/css/main.css' %}" rel="stylesheet">

<div class="container" id="body">
    <h1>Stock Tracker</h1>
    <form method="POST">
    	{% csrf_token %}
    	{{ form }}
    	<button class="btn btn-dark" type="submit" name="button">Get Data</button>
        {% if labels %}
        <div class="container" id="conclusion">
    	   <p id="calculation">Buy at price <strong>${{ buy }}</strong> on <strong>{{ buy_date }}</strong> and sell at price <strong>${{ sell }}</strong> on <strong>{{ sell_date }}</strong>.<br>The maximum profit within the past few days is <strong>${{ maxPri }}</strong> per share.</p>
        </div>
        {% endif %}
    	<p id="myLabels">{{ labels }}</p>
    	<p id="myData">{{ prices }}</p>
    </form>
    <p id="result"></p>
    <div class="container" id="chart">
        <canvas id="myChart" width="50" height="50"></canvas>
        <!-- chart.js -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
        <script src="{% static 'stock/js/main.js' %}"></script>
    </div>
</div>
{% endblock %}